# Build and dependency files
node_modules/
dist/
__pycache__/

# OS and editor files
.DS_Store
*.swp

# Secrets
.env

# trajectories
*.dump
*.txt

# logging files
*.log

# plots
*.pdf
*.png